@charset "UTF-8";

/* 回答はここに書いてね */

.q2{
  background-color: #eff3f4;
  width: 940px;
}

.big-box{
  padding: 20px;
}

.pic1-left{
  float: left;
  padding: 0 20px 10px 0;
}

.p1-right{
  font-size: 18px;
  line-height: 22px;
}

.pic2-right{
  float: right;
  padding: 0 0 10px 20px;
}

.p2-left{
  font-size: 18px;
  line-height: 22px;
}

/* 回答はここに書いてね */
