@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.big_box{
  margin: 0 auto;
  width: 900px;
  background-color: #eff3f4;
  padding: 20px;
}

.outside_box{
  margin-left: 20px;
  padding: 20px;
  width: 230px;
  background-color: #3274ae;
  float: left;
}

.outside_box:first-child{
  margin-left: 0;
}

.inside_box{
  background-color: #eaf4ff;
  border: 10px solid #022336;
}

.p{
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
}


/* 回答はここに書いてね */
