@charset "UTF-8";

/* 回答はここに書いてね */


.q7_float{
  overflow: hidden;
}

.float{
  width: 205px;
  float: left;
}

.float:last-child{
  margin-left: 50px;
}




.q7_table{
  display: table;
}

.table_cell{
  display: table-cell;
  width: 205px;
}

.table_cell:first-child{
  padding-right: 50px;
}





.block{
  display: inline-block;
  width: 205px;
  font-size: 0;
}

.block_left{
  margin-right: 30px;
  font-size: 16px;
}

.block_right{
  font-size: 16px;
}


.q7_flex{
  display: flex;
}

.flex{
  width: 205px;
}

.flex:last-child{
  margin-left: 50px;
}





.q7_margin{
  font-size: 0;
  width: 100%;
  box-sizing: border-box;
}

.q7__box__text{
  font-size: 16px;
}

.q7_margin_left{
  display: inline-block;
  width:250px;
}

.q7_margin_right{
  display: inline-block;
  margin-left: -250px;
  padding-left: 300px;
  box-sizing: border-box;
  width: 100%;
}




















/* 回答はここに書いてね */
