@charset "UTF-8";

/* 回答はここに書いてね */

.txt{
  text-align: center;
  display:block;
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px;
  margin: 0 auto;
}

.margin{
  text-align: center;
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px;
  margin: 0 auto;
}


.q6--around p{
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}


.table{
  display: table;
  text-align: center;
}

.tbl{
  display: table-cell;
  vertical-align: middle;
}

.q6-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_left{
  position: relative;
}

.inner_left{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:auto;
}

.outer_right{
  position: relative;
}

.inner_right{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* 回答はここに書いてね */
